.aboutus-page-header {
  position: relative;
}

.aboutus-page-header-img {
  object-fit: cover;
}

.aboutus-page-header-div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  background-color: rgb(0, 0, 0, 0.4);
}

.aboutus-page-header-title {
  font-weight: lighter;
}

.aboutus-page-header-subtitle {
  font-weight: lighter;
}

.aboutus-page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutus-page-body-content {
  text-align: center;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutus-main-catch {
  color: #0fa4c1;
}

.aboutus-divider {
  display: flex;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
}

.aboutus-join-team > p {
  font-weight: bold;
}

.aboutus-join-team-content {
  font-weight: lighter;
}

.aboutus-contact-us > p {
  font-weight: bold;
}

.aboutus-contact-us-info > p {
  font-weight: lighter;
}

.aboutus-contact-sns {
  display: flex;
  justify-content: center;
}

.aboutus-contact-sns-item > a {
  color: #000000;
}

.aboutus-contact-sns-item > a:hover {
  color: #0fa4c1;
}

/* Extra large devices */
@media (min-width: 360px) {
  .aboutus-page-header {
    width: 100vw;
    height: 240px;
  }

  .aboutus-page-header-img {
    width: 100%;
    height: 100%;
  }

  .aboutus-page-header-div {
    width: 100%;
    height: 100%;
    top: 0;
  }

  .aboutus-page-header-title {
    font-size: 16px;
    letter-spacing: 7px;
    width: 120px;
  }

  .aboutus-page-header-subtitle {
    font-size: 20px;
    margin-top: 8px;
  }

  .aboutus-page-body-content {
    margin: 100px 0;
  }
  .aboutus-main-catch {
    font-size: 16px;
    margin-bottom: 100px;
    width: 240px;
  }

  .aboutus-main-content {
    font-size: 16px;
    margin: 100px 0;
    width: 240px;
  }

  .aboutus-divider {
    width: 100vw;
  }

  .aboutus-divider > p {
    width: 240px;
    font-size: 16px;
    padding: 80px 0;
  }

  .aboutus-join-contact-container {
    width: 240px;
    margin: 80px 0;
  }

  .aboutus-join-team > p {
    font-size: 16px;
  }

  .aboutus-join-team-content {
    font-size: 16px;
    margin: 40px 0;
  }

  .aboutus-contact-us > p {
    font-size: 16px;
  }

  .aboutus-contact-us {
    margin-top: 100px;
  }

  .aboutus-contact-us-info > p {
    font-size: 16px;
    margin: 8px 0;
  }

  .aboutus-contact-sns {
    gap: 64px;
    margin-top: 16px;
  }

  .aboutus-contact-sns-item > a {
    font-size: 20px;
  }

  .aboutus-location-img {
    width: 240px;
    height: 140px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 25%);
  }
}

/* Extra large devices */
@media (min-width: 768px) {
  .aboutus-page-header {
    width: 100vw;
    height: 360px;
  }

  .aboutus-page-header-img {
    width: 100%;
    height: 100%;
  }

  .aboutus-page-header-div {
    width: 100%;
    height: 100%;
    top: 0;
  }

  .aboutus-page-header-title {
    font-size: 24px;
    letter-spacing: 7px;
    width: 100%;
  }

  .aboutus-page-header-subtitle {
    font-size: 20px;
    margin-top: 8px;
  }

  .aboutus-page-body-content {
    margin: 100px 0;
  }
  .aboutus-main-catch {
    font-size: 24px;
    margin-bottom: 100px;
    width: 540px;
  }

  .aboutus-main-content {
    font-size: 20px;
    margin: 100px 0;
    width: 540px;
  }

  .aboutus-divider {
    width: 100vw;
  }

  .aboutus-divider > p {
    width: 540px;
    font-size: 20px;
    padding: 80px 0;
  }

  .aboutus-join-contact-container {
    width: 540px;
    margin: 80px 0;
  }

  .aboutus-join-team > p {
    font-size: 20px;
  }

  .aboutus-join-team-content {
    font-size: 20px;
    margin: 40px 0;
  }

  .aboutus-contact-us > p {
    font-size: 20px;
  }

  .aboutus-contact-us {
    margin-top: 100px;
  }

  .aboutus-contact-us-info > p {
    font-size: 16px;
    margin: 8px 0;
  }

  .aboutus-contact-sns {
    gap: 64px;
    margin-top: 16px;
  }

  .aboutus-contact-sns-item > a {
    font-size: 20px;
  }

  .aboutus-location-img {
    width: 540px;
    height: 280px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 25%);
  }
}

/* Extra large devices */
@media (min-width: 1024px) {
  .aboutus-page-header {
    width: 100vw;
    height: 520px;
  }

  .aboutus-page-header-img {
    width: 100%;
    height: 520px;
  }

  .aboutus-page-header-div {
    width: 100%;
    height: 100%;
    top: 0;
  }

  .aboutus-page-header-title {
    font-size: 30px;
    letter-spacing: 8px;
  }

  .aboutus-page-header-subtitle {
    font-size: 24px;
    margin-top: 8px;
  }

  .aboutus-page-body-content {
    margin: 100px 0;
  }
  .aboutus-main-catch {
    font-size: 24px;
    margin-bottom: 100px;
    width: 860px;
  }

  .aboutus-main-content {
    font-size: 24px;
    margin: 100px 0;
    width: 860px;
  }

  .aboutus-divider {
    width: 100vw;
  }

  .aboutus-divider > p {
    width: 860px;
    font-size: 24px;
    padding: 80px 0;
  }

  .aboutus-join-contact-container {
    width: 860px;
    margin: 80px 0;
  }

  .aboutus-join-team > p {
    font-size: 32px;
  }

  .aboutus-join-team-content {
    font-size: 24px;
    margin: 40px 0;
  }

  .aboutus-contact-us > p {
    font-size: 32px;
  }

  .aboutus-contact-us {
    margin-top: 100px;
  }

  .aboutus-contact-us-info > p {
    font-size: 24px;
    margin: 8px 0;
  }

  .aboutus-contact-sns {
    gap: 64px;
    margin-top: 16px;
  }

  .aboutus-contact-sns-item > a {
    font-size: 32px;
  }

  .aboutus-location-img {
    width: 860px;
    height: 450px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 25%);
  }
}
