.main-banner {
  position: relative;
  width: 100vw;
  height: 680px;
  font-family: 'Montserrat', sans-serif;
}

.main-wallpaper {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.main-qcontainer {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 680px;
  position: absolute;
  top: 0;
  left: 0;
}

.main-quote {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 72px;
}

.main-feature-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.main-flisting-title {
  text-align: center;
  font-size: 33px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 50px 0 25px 0;
}

.main-flisting-container {
  max-width: 1440px;
}

.main-sales {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding-top: 0.5vw;
  background-color: black;
}

.main-sales-cont {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  width: 100vw;
  max-width: 1960px;
}

.main-sales-cont > a {
  position: relative;
  width: 33vw;
  height: 360px;
}

.main-part-section {
  filter: brightness(0.7);
}

.front-sell-img {
  background-image: url('../../img/wallpaper/sell_banner_img.jpg');
  width: 100%;
  background-repeat: no-repeat;
  height: 360px;
  object-fit: fill;
  background-position: center;
}
.front-aboutus-img {
  background-image: url('../../img/wallpaper/BMR-ABOUT-WALLPAPER.png');
  width: 100%;
  background-repeat: no-repeat;
  height: 360px;
  object-fit: fill;
  background-position: center;
}

.front-career-img {
  background-image: url('../../img/wallpaper/BMR-CAREER-WALLPAPER.jpg');
  width: 100%;
  background-repeat: no-repeat;
  height: 360px;
  object-fit: fill;
  background-position: center;
}

.main-part-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 28px;
  line-height: 1.5;
  color: #ffffff;
  filter: brightness(0.8);
}

.main-part-text:hover {
  filter: brightness(1);
}
