.sell-page-header {
  position: relative;
  width: 100vw;
}

.sell-page-header-img {
  width: 100%;
  height: 520px;
  object-fit: cover;
}

.sell-page-header-div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 520px;
  top: 0;
  color: #ffffff;
  background-color: rgb(0, 0, 0, 0.4);
}

.sell-page-header-title {
  font-weight: lighter;
}

.sell-page-header-subtitle {
  font-weight: lighter;
}

.sell-page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.sell-page-body-content {
  margin: 100px 0;
  text-align: center;
}

.sell-page-body-content-title {
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: bold;
}

.sell-page-body-content-text {
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}

.sell-page-email {
  margin: 100px 0;
}

.sell-page-email-title {
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.sell-page-email-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.sell-page-email-input {
  width: 460px;
  height: 40px;
  margin-bottom: 16px;
  padding-left: 20px;
  border: none;
  border-bottom: #000000 1px solid;
}

.sell-page-email-input:focus {
  outline: none;
}

.sell-page-email-text-btn {
  width: 460px;
  height: 40px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  outline: none;
  opacity: 0.9;
  cursor: pointer;
}
.sell-page-email-text-btn:hover {
  opacity: 1;
}

/* Extra large devices */
@media (min-width: 360px) {
  .sell-page-header-img {
    width: 100%;
    height: 360px;
  }
  .sell-page-header-div {
    width: 100%;
    height: 360px;
  }
  .sell-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .sell-page-body {
    margin-top: 0px;
  }

  .sell-page-header-title {
    width: 360px;
    font-size: 16px;
    letter-spacing: 7px;
    margin-bottom: 16px;
    padding: 0px 100px;
  }
  .sell-page-header-subtitle {
    width: 360px;
    font-size: 16px;
    padding: 4px 50px;
  }
  .sell-page-body-content-title {
    margin-bottom: 8px;
    font-size: 24px;
  }

  .sell-page-body-content-text {
    font-size: 16px;
    padding: 0px 40px;
  }

  .sell-page-email-title {
    margin-bottom: 8px;
    font-size: 24px;
  }

  .sell-page-email-input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  .sell-page-email-input {
    width: 330px;
    height: 40px;
    margin-bottom: 16px;
    padding-left: 20px;
    border: none;
    border-bottom: #000000 1px solid;
  }

  .sell-page-email-text-btn {
    width: 330px;
    height: 40px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    outline: none;
    opacity: 0.9;
    cursor: pointer;
  }
}

/* Extra large devices */
@media (min-width: 768px) {
  .sell-page-header-img {
    width: 100%;
    height: 520px;
    object-fit: cover;
  }
  .sell-page-header-div {
    width: 100%;
    height: 520px;
  }
  .sell-page-body {
    margin-top: 100px;
  }
  .sell-page-header-title {
    width: 720px;
    font-size: 30px;
    letter-spacing: 7px;
    margin-bottom: 16px;
    padding: 0px;
  }
  .sell-page-header-subtitle {
    width: 720px;
    font-size: 24px;
    padding: 0px;
  }
  .sell-page-body-content-title {
    margin-bottom: 16px;
    font-size: 48px;
  }

  .sell-page-body-content-text {
    font-size: 24px;
  }

  .sell-page-email-title {
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }

  .sell-page-email-input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  .sell-page-email-input {
    width: 460px;
    height: 40px;
    margin-bottom: 16px;
    padding-left: 20px;
    border: none;
    border-bottom: #000000 1px solid;
  }
}

/* Extra large devices */
@media (min-width: 1024px) {
}
